* {
    font-family: 'Anton', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Anton', sans-serif;
    background-color: #fff;
    color: #fff;
}

.hero {
    background-color: #fff;
    min-height: 100vh;
    display: flex;
    align-items: center;
}

.texto {
    width: 100%;
    text-align: center;
    padding: 0 15px;
    color: transparent;
    text-transform: uppercase;
    font-size: 300px;
    font-weight: bold;

    background-image: url('1.jpg');
    background-size: cover;
    background-position-y: center;
    /* background-clip: text;   */
    /*PARA QUE FUNCINE EN TODOS LOS ANEGADORES NO OLVIDAR AGREGAR -webkit-*/
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
